# Prudence When Altering Tables

In [4]:
#mysqldump --user='sergior' -p \;
#La linea anterior se encarga de ir al usuario;
#rookery birds > /tmp/birds.sql;
#La linea anterior se encarga de que se salve en el directorio tmp la tabla birds por si debe hacerse algun cambio;

In [5]:
#mysqldump --user='sergior' -p \;
#Igual que en la celda pasada;
#rookery > rookery.sql;
#Se quiere salvar toda la base de datos;

In [6]:
#mysql --user='sergior' -p \;
#Ahora se toma sin la extension dump;
#rookery < rookery-ch2-end.sql;
#COn el comando anterior se restaura la base de datos a una previa realizada y todos los datos se van a perder;

# Essential Changes

In [13]:
SHOW databases;

Database
GRUPOS
birdwatchers
information_schema
mysql
performance_schema
rookery
test

In [15]:
USE rookery;

In [16]:
ALTER TABLE bird_families
ADD COLUMN order_id INT;

In [17]:
#El comando anterior a√±ade una columna a la tabla bird FAMILIES, y luego crea una columna tipo entero;

In [18]:
CREATE TABLE test.birds_new LIKE birds;

In [19]:
#El comando anterior crea una tabla en la base de datos test de respaldo, como copia de birds;

In [22]:
use test;

In [23]:
show tables;

Tables_in_test
birds_new
books
status_names

In [24]:
USE rookery;

In [25]:
USE test;

In [27]:
DESCRIBE birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
description,text,YES,,NULL,

In [28]:
#Lo anterior muestra la descripcion de la tabla birds en la base de datos test;

In [29]:
#Lo anterior solo copio la estructura de la tabla, lo que sigue va a meter los datos en la tabla de copia;

In [30]:
INSERT INTO birds_new
SELECT * FROM rookery.birds;

In [31]:
CREATE TABLE birds_new_alternative
SELECT * FROM rookery.birds;

In [33]:
#El comando anterior crea una base de datos alternativa tambien de birds, pero inmediatamente le pasa los datos;

In [34]:
DESCRIBE birds_new_alternative;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,,0,
scientific_name,varchar(255),YES,,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
description,text,YES,,NULL,

In [35]:
#Lo anterior no copia la primary key con el autoincremento;

In [36]:
#En lo anterior, es mejor usar el primer metodo que usa el INSERT INTO y luego SELECT;

In [38]:
DROP TABLE birds_new_alternative;

In [40]:
show tables;

Tables_in_test
birds_new
books
status_names

In [41]:
DESCRIBE birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
description,text,YES,,NULL,

In [42]:
#Ahora vamos a alterar la tabla agregando una columna;

In [43]:
ALTER TABLE birds_new
ADD COLUMN wing_id CHAR(2);

In [46]:
DESCRIBE birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
description,text,YES,,NULL,
wing_id,char(2),YES,,NULL,

In [47]:
ALTER TABLE birds_new
DROP COLUMN wing_id;

In [48]:
#AHORA VAMOS A CREAR DE NUEVO LA COLUMNA PERO EN UN orden predeterminado;

In [49]:
ALTER TABLE birds_new
ADD COLUMN wing_ig CHAR(2) AFTER family_id;

In [50]:
DESCRIBE birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
wing_ig,char(2),YES,,NULL,
description,text,YES,,NULL,

In [51]:
#Si quiere colocarlo de primero, puede agregar FIRST;

In [53]:
ALTER TABLE birds_new
ADD COLUMN body_id CHAR(2) AFTER wing_ig,
ADD COLUMN bill_id CHAR(2) AFTER body_id,
ADD COLUMN endangered BIT DEFAULT b'1' AFTER bill_id,
CHANGE COLUMN common_name common_name VARCHAR(255);

In [54]:
DESCRIBE birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(255),YES,,NULL,
family_id,int(11),YES,,NULL,
wing_ig,char(2),YES,,NULL,
body_id,char(2),YES,,NULL,
bill_id,char(2),YES,,NULL,
endangered,bit(1),YES,,b'1',
description,text,YES,,NULL,

In [55]:
UPDATE birds_new SET endangered =0
WHERE bird_id IN(1,2,4,5);

In [61]:
SELECT bird_id, scientific_name, common_name,endangered
FROM birds_new
WHERE endangered;

bird_id,scientific_name,common_name,endangered
3,Aix sponsa,Wood Duck,
6,Apteryx mantelli,North Island Brown Kiwi,

In [58]:
#Lo anterior se pudo dejar solo WHERE endangered;
#Porque el tipo de dato , BIT permite reconocer solo donde hay el hecho de que endagered=1;

In [59]:
SELECT * FROM birds_new
WHERE NOT endangered;

bird_id,scientific_name,common_name,family_id,wing_ig,body_id,bill_id,endangered,description
1,Charadrius vociferus,Killdeer,NULL,NULL,NULL,NULL,,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL,NULL,NULL,,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL,NULL,NULL,,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL,NULL,NULL,,NULL

In [60]:
#Lo anterior solo supone que, no existe un valor en endangered;

In [66]:
UPDATE birds_new SET endangered=1;

In [70]:
#LO anterior es por actualizar a tods con valores de 1;

In [67]:
ALTER TABLE birds_new
MODIFY COLUMN endangered
ENUM('Extinct',
'Extinct in Wild',
'Threatened - Critically Endangered',
'Threatened - Endangered',
'Threatened - Vulnerable',
'Lower Risk - Conservation Dependent',
'Lower Risk - Near Threatened',
'Lower Risk - Least Concern')
AFTER family_id;

In [68]:
SHOW COLUMNS FROM birds_new LIKE 'endangered';

Field,Type,Null,Key,Default,Extra
endangered,"enum('Extinct','Extinct in Wild','Threatened - Critically Endangered','Threatened - Endangered','Threatened - Vulnerable','Lower Risk - Conservation Dependent','Lower Risk - Near Threatened','Lower Risk - Least Concern')",YES,,NULL,

In [75]:
UPDATE birds_new
SET endangered=8;

In [78]:
#Ajusta con numeros los valores predeterminados anteriormente de endangered;

In [76]:
DESCRIBE birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(255),YES,,NULL,
family_id,int(11),YES,,NULL,
endangered,"enum('Extinct','Extinct in Wild','Threatened - Critically Endangered','Threatened - Endangered','Threatened - Vulnerable','Lower Risk - Conservation Dependent','Lower Risk - Near Threatened','Lower Risk - Least Concern')",YES,,NULL,
wing_ig,char(2),YES,,NULL,
body_id,char(2),YES,,NULL,
bill_id,char(2),YES,,NULL,
description,text,YES,,NULL,

In [77]:
SELECT * FROM birds_new;

bird_id,scientific_name,common_name,family_id,endangered,wing_ig,body_id,bill_id,description
1,Charadrius vociferus,Killdeer,NULL,Lower Risk - Least Concern,NULL,NULL,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,Lower Risk - Least Concern,NULL,NULL,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,Lower Risk - Least Concern,NULL,NULL,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,Lower Risk - Least Concern,NULL,NULL,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,Lower Risk - Least Concern,NULL,NULL,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,Lower Risk - Least Concern,NULL,NULL,NULL,NULL

# Dynamic Columns

In [79]:
SHOW TABLES;

Tables_in_test
birds_new
books
status_names

In [80]:
USE rookery;

In [81]:
SHow tables;

Tables_in_rookery
bird_families
bird_orders
birds

In [82]:
USE birdwatchers;

In [83]:
show tables;

Tables_in_birdwatchers
humans

In [84]:
USE birdwatchers;
CREATE TABLE surveys
(survey_id INT AUTO_INCREMENT KEY,
survey_name VARCHAR(255));
CREATE TABLE survey_questions
(question_id INT AUTO_INCREMENT KEY,
survey_id INT,
question VARCHAR(255),
choices BLOB);
CREATE TABLE survey_answers
(answer_id INT AUTO_INCREMENT KEY,
human_id INT,
question_id INT,
date_answered DATETIME,
answer VARCHAR(255));

In [85]:
SHOW TABLES;

Tables_in_birdwatchers
humans
survey_answers
survey_questions
surveys

In [86]:
#AHora vamos a insertar datos;

In [87]:
INSERT INTO surveys (survey_name)
VALUES("Favorite Birding Location");

INSERT INTO survey_questions
(survey_id, question, choices)
VALUES(LAST_INSERT_ID(),
"What's your favorite setting for bird-watching?",
COLUMN_CREATE('1', 'forest', '2', 'shore', '3', 'backyard') );

INSERT INTO surveys (survey_name)
VALUES("Preferred Birds");

INSERT INTO survey_questions
(survey_id, question, choices)
VALUES(LAST_INSERT_ID(),
"Which type of birds do you like best?",
COLUMN_CREATE('1', 'perching', '2', 'shore', '3', 'fowl', '4', 'rapture') );

In [88]:
DESCRIBE survey_questions;

Field,Type,Null,Key,Default,Extra
question_id,int(11),NO,PRI,NULL,auto_increment
survey_id,int(11),YES,,NULL,
question,varchar(255),YES,,NULL,
choices,blob,YES,,NULL,

In [91]:
SELECT * FROM surveys;

survey_id,survey_name
1,Favorite Birding Location
2,Preferred Birds

In [92]:
SELECT COLUMN_GET(choices, 3 AS CHAR)
AS 'Location'
FROM survey_questions
WHERE survey_id = 1;

Location
backyard

In [93]:
INSERT INTO survey_answers
(human_id, question_id, date_answered, answer)
VALUES
(29, 1, NOW(), 2),
(29, 2, NOW(), 2),
(35, 1, NOW(), 1),
(35, 2, NOW(), 1),
(26, 1, NOW(), 2),
(26, 2, NOW(), 1),
(27, 1, NOW(), 2),
(27, 2, NOW(), 4),
(16, 1, NOW(), 3),
(3, 1, NOW(), 1),
(3, 2, NOW(), 1);

In [94]:
SELECT IFNULL(COLUMN_GET(choices, answer AS CHAR), 'total')
AS 'Birding Site', COUNT(*) AS 'Votes'
FROM survey_answers
JOIN survey_questions USING(question_id)
WHERE survey_id = 1
AND question_id = 1
GROUP BY answer WITH ROLLUP;

Birding Site,Votes
forest,2
shore,3
backyard,1
total,6

In [95]:
DESCRIBE survey_answers;

Field,Type,Null,Key,Default,Extra
answer_id,int(11),NO,PRI,NULL,auto_increment
human_id,int(11),YES,,NULL,
question_id,int(11),YES,,NULL,
date_answered,datetime,YES,,NULL,
answer,varchar(255),YES,,NULL,

In [96]:
SELECT * FROM survey_answers;

answer_id,human_id,question_id,date_answered,answer
1,29,1,2021-04-04 18:41:57,2
2,29,2,2021-04-04 18:41:57,2
3,35,1,2021-04-04 18:41:57,1
4,35,2,2021-04-04 18:41:57,1
5,26,1,2021-04-04 18:41:57,2
6,26,2,2021-04-04 18:41:57,1
7,27,1,2021-04-04 18:41:57,2
8,27,2,2021-04-04 18:41:57,4
9,16,1,2021-04-04 18:41:57,3
10,3,1,2021-04-04 18:41:57,1
11,3,2,2021-04-04 18:41:57,1

In [101]:
SELECT * FROM surveys;

survey_id,survey_name
1,Favorite Birding Location
2,Preferred Birds

# Setting a Column's Default Value

In [103]:
CREATE TABLE rookery.conservation_status
(status_id INT AUTO_INCREMENT PRIMARY KEY,
conservation_category CHAR(10),
conservation_state CHAR(25) );

In [104]:
INSERT INTO rookery.conservation_status
(conservation_category, conservation_state)
VALUES('Extinct','Extinct'),
('Extinct','Extinct in Wild'),
('Threatened','Critically Endangered'),
('Threatened','Endangered'),
('Threatened','Vulnerable'),
('Lower Risk','Conservation Dependent'),
('Lower Risk','Near Threatened'),
('Lower Risk','Least Concern');

In [105]:
SELECT * FROM rookery.conservation_status;

status_id,conservation_category,conservation_state
1,Extinct,Extinct
2,Extinct,Extinct in Wild
3,Threatened,Critically Endangered
4,Threatened,Endangered
5,Threatened,Vulnerable
6,Lower Risk,Conservation Dependent
7,Lower Risk,Near Threatened
8,Lower Risk,Least Concern

In [107]:
show tables;

Tables_in_birdwatchers
humans
survey_answers
survey_questions
surveys

In [108]:
Use rookery;

In [110]:
show tables;

Tables_in_rookery
bird_families
bird_orders
birds
conservation_status

In [112]:
use test;

In [113]:
show tables;

Tables_in_test
birds_new
books
status_names

In [114]:
ALTER TABLE birds_new
CHANGE COLUMN endangered conservation_status_id INT DEFAULT 8;

In [115]:
ALTER TABLE birds_new
ALTER conservation_status_id SET DEFAULT 7;

In [116]:
ALTER TABLE birds_new
ALTER conservation_status_id DROP DEFAULT;

# Setting the Value of AUTO_INCREMENT

In [117]:
SELECT auto_increment
FROM information_schema.tables
WHERE table_name = 'birds';

auto_increment
7

In [118]:
USE rookery
ALTER TABLE birds
AUTO_INCREMENT = 10;

# Another Method to Alter and Create a Table

In [119]:
CREATE TABLE birds_new LIKE birds;

In [121]:
DESCRIBE birds;
DESCRIBE birds_new;
SELECT * FROM birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
description,text,YES,,NULL,
Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
family_id,int(11),YES,,NULL,
description,text,YES,,NULL,

In [122]:
SHOW CREATE TABLE birds;

Table,Create Table
birds,"CREATE TABLE `birds` ( `bird_id` int(11) NOT NULL AUTO_INCREMENT, `scientific_name` varchar(255) COLLATE latin1_bin DEFAULT NULL, `common_name` varchar(50) COLLATE latin1_bin DEFAULT NULL, `family_id` int(11) DEFAULT NULL, `description` text COLLATE latin1_bin DEFAULT NULL, PRIMARY KEY (`bird_id`), UNIQUE KEY `scientific_name` (`scientific_name`) ) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=latin1 COLLATE=latin1_bin"

In [123]:
ALTER TABLE birds_new
AUTO_INCREMENT = 6;

In [124]:
CREATE TABLE birds_details
SELECT bird_id, description
FROM birds;

In [125]:
DESCRIBE birds_details;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,,0,
description,text,YES,,NULL,

In [126]:
ALTER TABLE birds
DROP COLUMN description;

In [127]:
RENAME TABLE rookery.birds TO rookery.birds_old,
test.birds_new TO rookery.birds;

In [128]:
SHOW TABLES IN rookery LIKE 'birds%';

Tables_in_rookery (birds%)
birds
birds_details
birds_new
birds_old

In [129]:
DROP TABLE birds_old;

# Reordering a Table

In [140]:
DROP TABLE IF EXISTS country_codes;
CREATE TABLE country_countries(
  code1 char(2) DEFAULT NULL,
  code2 char(2) DEFAULT NULL,
  code3 char(3) DEFAULT NULL,
  country_name varchar(255) DEFAULT NULL,
  country_name_italian varchar(255) DEFAULT NULL,
  KEY code1 (code1),
  KEY code2 (code2)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

In [142]:
LOCK TABLES country_countries WRITE;
INSERT INTO country_countries VALUES ('af','AF','AFG','Afghanistan','Afghanistan'),('ax','AX','ALA','√É‚Ä¶land',NULL),('al','AL','ALB','Albania','Albania'),('dz','DZ','DZA','Algeria','Algeria'),('as','AS','ASM','American Samoa','Samoa Americane'),('ad','AD','AND','Andorra','Andorra'),('ao','AO','AGO','Angola','Angola'),('ai','AI','AIA','Anguilla','Anguilla'),('aq',NULL,NULL,'Antarctica',NULL),('ag','AG','ATG','Antigua and Barbuda','Antigua e Barbuda'),('ar','AR','ARG','Argentina','Argentina'),('am','AM','ARM','Armenia','Armenia'),('aw','AW','ABW','Aruba','Aruba'),('ac',NULL,NULL,'Ascension Island',NULL),('au','AU','AUS','Australia','Australia'),('at','AT','AUT','Austria','Austria'),('az','AZ','AZE','Azerbaijan','Azerbaijan'),('bs','BS','BHS','Bahamas','Bahamas'),('bh','BH','BHR','Bahrain','Bahrain'),('bd','BD','BGD','Bangladesh','Bangladesh'),('bb','BB','BRB','Barbados','Barbados'),('by','BY','BLR','Belarus','Bielorussia'),('be','BE','BEL','Belgium','Belgio'),('bz','BZ','BLZ','Belize','Belize'),('bj','BJ','BEN','Benin','Benin'),('bm','BM','BMU','Bermuda','Bermuda'),('bt','BT','BTN','Bhutan','Bhutan'),('bo','BO','BOL','Bolivia','Bolivia'),('ba','BA','BIH','Bosnia and Herzegovina','Bosnia-Erzegovina'),('bw','BW','BWA','Botswana','Botswana'),('bv',NULL,NULL,'Bouvet Island',NULL),('br','BR','BRA','Brazil','Brasile'),('vg','IO','VGB','British Virgin Islands','Isole Vergini Britanniche'),('io',NULL,NULL,'British Indian Ocean Territory',NULL),('bn','BN','BRN','Brunei Darussalam','Brunei Darussalam'),('bg','BG','BGR','Bulgaria','Bulgaria'),('bf','BF','BFA','Burkina Faso','Burkina Faso'),('bi','BI','BDI','Burundi','Burundi'),('kh','KH','KHM','Cambodia','Cambogia'),('cm','CM','CMR','Cameroon','Camerun'),('ca','CA','CAN','Canada','Canada'),('cv','CV','CPV','Cape Verde','Capo Verde'),('ky','KY','CYM','Cayman Islands','Isole Cayman'),('cf','CF','CAF','Central African Republic','Repubblica Centroafricana'),('td','TD','TCD','Chad','Ciad'),('cl','CL','CHL','Chile','Cile'),('cn','CN','CHN','China','Cina'),('cx',NULL,NULL,'Christmas Island',NULL),('cc',NULL,NULL,'Cocos (Keeling) Island',NULL),('co','CO','COL','Colombia','Colombia'),('km','KM','COM','Comoros','Comore'),('cg','CG','COG','Republic of Congo','Repubblica del Congo'),('cd','CD','COD','Democratic Republic of Congo','Repubblica Democratica del Congo'),('ck','CK','COK','Cook Islands','Isole Cook'),('cr','CR','CRI','Costa Rica','Costa Rica'),('ci','CI','CIV','Cote d\'Ivoire','Costa d\'Avorio'),('hr','HR','HRV','Croatia','Croazia'),('cu','CU','CUB','Cuba','Cuba'),('cy','CY','CYP','Cyprus','Cipro'),('cz','CZ','CZE','Czech Republic','Repubblica Ceca'),('dk','DK','DNK','Denmark','Danimarca'),('dj','DJ','DJI','Djibouti','Gibuti'),('dm','DM','DMA','Dominica','Dominica'),('do','DO','DOM','Dominican Republic','Repubblica Dominicana'),('ec','EC','ECU','Ecuador','Ecuador'),('eg','EG','EGY','Egypt','Egitto'),('sv','SV','SLV','El Salvador','El Salvador'),('gq','GQ','GNQ','Equatorial Guinea','Guinea Equatoriale'),('er','ER','ERI','Eritrea','Eritrea'),('ee','EE','EST','Estonia','Estonia'),('et','ET','ETH','Ethiopia','Etiopia'),('fk','FK','FLK','Falkland Islands (Malvinas)','Isole Falkland'),('fo','FO','FRO','Faroe Islands','Isole Faroe'),('fj','FJ','FJI','Fiji','Fiji'),('fi','FI','FIN','Finland','Finlandia'),('fr','FR','FRA','France','Francia'),('gf','GF','GUF','French Guiana','Guyana Francese'),('pf','PF','PYF','French Polynesia','Polinesia Francese'),('tf',NULL,NULL,'French Southern Territories',NULL),('ga','GA','GAB','Gabon','Gabon'),('gm','GM','GMB','Gambia','Gambia'),('ge','GE','GEO','Georgia','Georgia'),('de','DE','DEU','Germany','Germania'),('gh','GH','GHA','Ghana','Ghana'),('gi','GI','GIB','Gibraltar','Gibilterra'),('gr','GR','GRC','Greece','Grecia'),('gl','GL','GRL','Greenland','Groenlandia'),('gd','GD','GRD','Grenada','Grenada'),('gp','GP','GLP','Guadeloupe','Guadalupa'),('gu','GU','GUM','Guam','Guam'),('gt','GT','GTM','Guatemala','Guatemala'),('gg','GG','GGY','Guernsey',NULL),('gn','GN','GIN','Guinea','Guinea'),('gw','GW','GNB','Guinea-Bissau','Guinea-Bissau'),('gy','GY','GUY','Guyana','Guyana'),('ht','HT','HTI','Haiti','Haiti'),('hm',NULL,NULL,'Heard and McDonald Islands',NULL),('hn','HN','HND','Honduras','Honduras'),('hk','HK','HKG','Hong Kong','Hong Kong'),('hu','HU','HUN','Hungary','Ungheria'),('is','IS','ISL','Iceland','Islanda'),('in','IN','IND','India','India'),('id','ID','IDN','Indonesia','Indonesia'),('ir','IR','IRN','Iran','Iran'),('iq','IQ','IRQ','Iraq','Iraq'),('ie','IE','IRL','Ireland','Eire'),('im','IM','IMN','Isle of Man','Isola di Man'),('il','IL','ISR','Israel','Israele'),('it','IT','ITA','Italy','Italia'),('jm','JM','JAM','Jamaica','Giamaica'),('jp','JP','JPN','Japan','Giappone'),('je','JE','JEY','Jersey',NULL),('jo','JO','JOR','Jordan','Giordania'),('kz','KZ','KAZ','Kazakhstan','Kazakistan'),('ke','KE','KEN','Kenya','Kenya'),('ki','KI','KIR','Kiribati','Kiribati'),('kp','KP','PRK','North Korea','Corea del Nord'),('kr','KR','KOR','South Korea','Corea del Sud'),('kw','KW','KWT','Kuwait','Kuwait'),('kg','KG','KGZ','Kyrgyzstan','Kirghizistan'),('la','LA','LAO','Laos','Laos'),('lv','LV','LVA','Latvia','Lettonia'),('lb','LB','LBN','Lebanon','Libano'),('ls','LS','LSO','Lesotho','Lesotho'),('lr','LR','LBR','Liberia','Liberia'),('ly','LY','LBY','Libya','Libia'),('li','LI','LIE','Liechtenstein','Liechtenstein'),('lt','LT','LTU','Lithuania','Lituania'),('lu','LU','LUX','Luxembourg','Lussemburgo'),('mo','MO','MAC','Macau','Macao'),('mk','MK','MKD','Macedonia','Macedonia'),('mg','MG','MDG','Madagascar','Madagascar'),('mw','MW','MWI','Malawi','Malawi'),('my','MY','MYS','Malaysia','Malesia'),('mv','MV','MDV','Maldives','Maldive'),('ml','ML','MLI','Mali','Mali'),('mt','MT','MLT','Malta','Malta'),('mh','MH','MHL','Marshall Islands','Isole Marshall'),('mq','MQ','MTQ','Martinique','Martinica'),('mr','MR','MRT','Mauritania','Mauritania'),('mu','MU','MUS','Mauritius','Mauritius'),('yt','YT','MYT','Mayotte','Mayotte'),('mx','MX','MEX','Mexico','Messico'),('fm','FM','FSM','Micronesia','Stati Federati della Micronesia'),('md','MD','MDA','Moldova','Moldavia'),('mc','MC','MCO','Monaco','Monaco'),('mn','MN','MNG','Mongolia','Mongolia'),('ms','MS','MSR','Montserrat','Montserrat'),('ma','MA','MAR','Morocco','Marocco'),('mz','MZ','MOZ','Mozambique','Mozambico'),('mm','MM','MMR','Myanmar','Myanmar'),('na','NA','NAM','Namibia','Namibia'),('nr','NR','NRU','Nauru','Nauru'),('np','NP','NPL','Nepal','Nepal'),('nl','NL','NLD','Netherlands','Paesi Bassi'),('an','AN','ANT','Netherlands Antilles','Antille Olandesi'),('nc','NC','NCL','New Caledonia','Nuova Caledonia'),('nz','NZ','NZL','New Zealand','Nuova Zelanda'),('ni','NI','NIC','Nicaragua','Nicaragua'),('nu','NU','NIU','Niue','Niue'),('ne','NE','NER','Niger','Niger'),('ng','NG','NGA','Nigeria','Nigeria'),('nf','NF','NFK','Norfolk Island','Isola Norfolk'),('mp','MP','MNP','Northern Mariana Islands','Isole Marianne Settentrionali'),('no','NO','NOR','Norway','Norvegia'),('om','OM','OMN','Oman','Oman'),('pk','PK','PAK','Pakistan','Pakistan'),('pw','PW','PLW','Palau','Palau'),('ps','PS','PSE','Occupied Palestinian Territory','Territori Palestinesi Occupati'),('pa','PA','PAN','Panama','Panam√É¬°'),('pg','PG','PNG','Papua New Guinea','Papua Nuova Guinea'),('py','PY','PRY','Paraguay','Paraguay'),('pe','PE','PER','Peru','Per√É¬π'),('ph','PH','PHL','Philippines','Filippine'),('pn','PN','PCN','Pitcairn Island','Pitcairn'),('pl','PL','POL','Poland','Polonia'),('pt','PT','PRT','Portugal','Portogallo'),('pr','PR','PRI','Puerto Rico','Porto Rico'),('qa','QA','QAT','Qatar','Qatar'),('re','RE','REU','Reunion','Reunion'),('ro','RO','ROU','Romania','Romania'),('ru','RU','RUS','Russia','Federazione Russa'),('rw','RW','RWA','Rwanda','Ruanda'),('sh','SH','SHN','Saint Helena','Sant\'Elena'),('kn','KN','KNA','Saint Kitts and Nevis','Saint Kitts e Nevis'),('lc','LC','LCA','Saint Lucia','Santa Lucia'),('pm','PM','SPM','Saint Pierre and Miquelon','Saint Pierre e Miquelon'),('vc','VC','VCT','Saint Vincent and the Grenadines','Saint Vincent e Grenadine'),('ws','WS','WSM','Samoa','Samoa'),('sm','SM','SMR','San Marino','San Marino'),('st','ST','STP','Sao Tome and Principe','Sao Tome e Principe'),('sa','SA','SAU','Saudia Arabia','Arabia Saudita'),('sn','SN','SEN','Senegal','Senegal'),('cs','CS','SCG','Serbia',NULL),('sc','SC','SYC','Seychelles','Seychelles'),('sl','SL','SLE','Sierra Leone','Sierra Leone'),('sg','SG','SGP','Singapore','Singapore'),('sk','SK','SVK','Slovakia','Slovacchia'),('si','SI','SVN','Slovenia','Slovenia'),('sb','SB','SLB','Solomon Islands','Isole Solomon'),('so','SO','SOM','Somalia','Somalia'),('za','ZA','ZAF','South Africa','Sudafrica'),('gs',NULL,NULL,'South Georgia and the South Sandwich Islands',NULL),('es','ES','ESP','Spain','Spagna'),('lk','LK','LKA','Sri Lanka','Sri Lanka'),('sd','SD','SDN','Sudan','Sudan'),('sr','SR','SUR','Suriname','Suriname'),('sj','SJ','SJM','Svalbard and Jan Mayen Islands','Svalbard e Jan Mayen'),('sz','SZ','SWZ','Swaziland','Swaziland'),('se','SE','SWE','Sweden','Svezia'),('ch','CH','CHE','Switzerland','Svizzera'),('sy','SY','SYR','Syria','Siria'),('tw','TW','TWN','Taiwan','Taiwan'),('tj','TJ','TJK','Tajikistan','Tagikistan'),('tz','TZ','TZA','Tanzania','Tanzania'),('th','TH','THA','Thailand','Thailandia'),('tp','TL','TLS','Timor-Leste','Timor Est'),('tg','TG','TGO','Togo','Togo'),('tk',NULL,NULL,'Tokelau',NULL),('to','TO','TON','Tonga','Tonga'),('tt','TT','TTO','Trinidad and Tobago','Trinidad e Tobago'),('tn','TN','TUN','Tunisia','Tunisia'),('tr','TR','TUR','Turkey','Turchia'),('tm','TM','TKM','Turkmenistan','Turkmenistan'),('tc','TC','TCA','Turks and Caicos Islands','Isole Turks e Caicos'),('tv','TV','TUV','Tuvalu','Tuvalu'),('ug','UG','UGA','Uganda','Uganda'),('ua','UA','UKR','Ukraine','Ucraina'),('ae','AE','ARE','United Arab Emirates','Emirati Arabi Uniti'),('uk','GB','GBR','United Kingdom','Regno Unito'),('us','US','USA','United States of America','Stati Uniti d\'America'),('vi','VI','VIR','United States Virgin Islands','Isole Vergini Americane'),('uy','UY','URY','Uruguay','Uruguay'),('um',NULL,NULL,'US Minor Outlying Islands',NULL),('su','SU','SUN','USSR',NULL),('uz','UZ','UZB','Uzbekistan','Uzbekistan'),('vu','VU','VUT','Vanuatu','Vanuatu'),('va','VA','VAT','Vatican City State (Holy See)','Citt√É¬† del Vaticano'),('ve','VE','VEN','Venezuela','Venezuela'),('vn','VN','VNM','Vietnam','Vietnam'),('wf','WF','WLF','Wallis and Futuna Islands','Wallis e Futuna'),('eh','EH','ESH','Western Sahara','Sahara Occidentale'),('ye','YE','YEM','Yemen','Yemen'),('yu','YU','YUG','Yugoslavia',NULL),('zm','ZM','ZMB','Zambia','Zambia'),('zw','ZW','ZWE','Zimbabwe','Zimbabwe');
UNLOCK TABLES;

In [143]:
SELECT * FROM country_countries
LIMIT 5;

code1,code2,code3,country_name,country_name_italian
af,AF,AFG,Afghanistan,Afghanistan
ax,AX,ALA,√É‚Ä¶land,NULL
al,AL,ALB,Albania,Albania
dz,DZ,DZA,Algeria,Algeria
as,AS,ASM,American Samoa,Samoa Americane

In [146]:
ALTER TABLE country_countries
ORDER BY code1;

In [147]:
SELECT * FROM country_countries
LIMIT 5;

code1,code2,code3,country_name,country_name_italian
ac,NULL,NULL,Ascension Island,NULL
ad,AD,AND,Andorra,Andorra
ae,AE,ARE,United Arab Emirates,Emirati Arabi Uniti
af,AF,AFG,Afghanistan,Afghanistan
ag,AG,ATG,Antigua and Barbuda,Antigua e Barbuda

# Indexes

In [132]:
ALTER TABLE conservation_status
CHANGE status_id conservation_status_id INT AUTO_INCREMENT PRIMARY KEY;

Multiple primary key defined
(B(B

In [133]:
SHOW INDEX FROM birdwatchers.humans;

Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment
humans,0,PRIMARY,1,human_id,A,4,NULL,NULL,,BTREE,,

In [134]:
EXPLAIN SELECT * FROM birdwatchers.humans
WHERE name_last = 'Hollar';

id,select_type,table,type,possible_keys,key,key_len,ref,rows,Extra
1,SIMPLE,humans,ALL,NULL,NULL,NULL,NULL,4,Using where

In [135]:
ALTER TABLE birdwatchers.humans
ADD INDEX human_names (name_last, name_first);

In [136]:
SHOW CREATE TABLE birdwatchers.humans;

Table,Create Table
humans,"CREATE TABLE `humans` ( `human_id` int(11) NOT NULL AUTO_INCREMENT, `formal_title` varchar(25) DEFAULT NULL, `name_first` varchar(25) DEFAULT NULL, `name_last` varchar(25) DEFAULT NULL, `email_address` varchar(255) DEFAULT NULL, PRIMARY KEY (`human_id`), KEY `human_names` (`name_last`,`name_first`) ) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4"

In [137]:
SHOW INDEX FROM birdwatchers.humans
WHERE Key_name = 'human_names';

Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment
humans,1,human_names,1,name_last,A,4,NULL,NULL,YES,BTREE,,
humans,1,human_names,2,name_first,A,4,NULL,NULL,YES,BTREE,,

In [138]:
EXPLAIN SELECT * FROM birdwatchers.humans
WHERE name_last = 'Hollar';

id,select_type,table,type,possible_keys,key,key_len,ref,rows,Extra
1,SIMPLE,humans,ref,human_names,human_names,103,const,1,Using index condition

In [139]:
ALTER TABLE conservation_status
DROP PRIMARY KEY,
CHANGE status_id conservation_status_id INT PRIMARY KEY AUTO_INCREMENT;