# Unifying Results

In [1]:
USE rookery;

In [2]:
SELECT 'Pelecanidae' AS 'Family',
COUNT(*) AS 'Species'
FROM birds, bird_families AS families
WHERE birds.family_id = families.family_id
AND families.scientific_name = 'Pelecanidae'
UNION
SELECT 'Ardeidae',
COUNT(*)
FROM birds, bird_families AS families
WHERE birds.family_id = families.family_id
AND families.scientific_name = 'Ardeidae';

Family,Species
Pelecanidae,0
Ardeidae,0

In [3]:
SELECT families.scientific_name AS 'Family',
COUNT(*) AS 'Species'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Pelecaniformes'
GROUP BY families.family_id
UNION
SELECT families.scientific_name, COUNT(*)
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Suliformes'
GROUP BY families.family_id;

Family,Species
Pelecanidae (Pelicans),1
Balaenicipitidae (Shoebill),3
Scopidae (Hamerkop),157
"Ardeidae (Herons, Egrets, and Bitterns)",53
Threskiornithidae (Ibises and Spoonbills),14

In [4]:
SELECT * FROM
(
SELECT families.scientific_name AS 'Family',
COUNT(*) AS 'Species',
orders.scientific_name AS 'Order'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Pelecaniformes'
GROUP BY families.family_id
UNION
SELECT families.scientific_name, COUNT(*), orders.scientific_name
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Suliformes'
GROUP BY families.family_id ) AS derived_1
ORDER BY Family;

Family,Species,Order
"Ardeidae (Herons, Egrets, and Bitterns)",53,Pelecaniformes
Balaenicipitidae (Shoebill),3,Pelecaniformes
Pelecanidae (Pelicans),1,Pelecaniformes
Scopidae (Hamerkop),157,Pelecaniformes
Threskiornithidae (Ibises and Spoonbills),14,Pelecaniformes

# Joining Tables

In [6]:
Use test;

In [7]:
SELECT book_id, title, status_name
FROM books JOIN status_names
WHERE status = status_id;

book_id,title,status_name
100,Heart of Darkness,Inactive
101,The Catcher in the Rye,Active
102,My Antonia,Active

In [8]:
SELECT book_id, title, status_name
FROM books
JOIN status_names ON(status = status_id);

book_id,title,status_name
100,Heart of Darkness,Inactive
101,The Catcher in the Rye,Active
102,My Antonia,Active

In [16]:
SELECT book_id, title, status_name
FROM books
JOIN status_names USING(status_name);

Unknown column 'status_name' in 'from clause'
(B(B

In [17]:
show tables;

Tables_in_test
books
status_names

In [18]:
describe status_names;

Field,Type,Null,Key,Default,Extra
status_id,int(11),YES,,NULL,
status_name,char(8),YES,,NULL,

In [19]:
SELECT * FROM status_names;

status_id,status_name
0,Inactive
1,Active

# Selecting a Basic Join

In [20]:
USE rookery;

In [21]:
show tables;

Tables_in_rookery
bird_families
bird_orders
birds
birds_details
birds_new
conservation_status
country_countries

In [22]:
SELECT common_name, conservation_state
FROM birds
JOIN conservation_status
ON(birds.conservation_status_id = conservation_status.conservation_status_id)
WHERE conservation_category = 'Threatened'
AND common_name LIKE '%Goose%';

In [23]:
describe birds;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(100),YES,UNI,NULL,
common_name,varchar(255),YES,,NULL,
family_id,int(11),YES,,NULL,
conservation_status_id,int(11),YES,,NULL,
wing_id,char(2),YES,,NULL,
body_id,char(2),YES,,NULL,
bill_id,char(2),YES,,NULL,
description,text,YES,,NULL,

In [2]:
Use rookery;

In [3]:
SELECT common_name, conservation_state
FROM birds
JOIN conservation_status
USING(conservation_status_id)
WHERE conservation_category = 'Threatened'
AND common_name LIKE '%Goose%';

In [4]:
SELECT common_name AS 'Bird',
bird_families.scientific_name AS 'Family', conservation_state AS 'Status'
FROM birds
JOIN conservation_status USING(conservation_status_id)
JOIN bird_families USING(family_id)
WHERE conservation_category = 'Threatened'
AND common_name REGEXP 'Goose|Duck'
ORDER BY Status, Bird;

In [5]:
SELECT common_name AS 'Bird',
bird_families.scientific_name AS 'Family', conservation_state AS 'Status'
FROM birds, conservation_status, bird_families
WHERE birds.conservation_status_id = conservation_status.conservation_status_id
AND birds.family_id = bird_families.family_id
AND conservation_category = 'Threatened'
AND common_name REGEXP 'Goose|Duck'
ORDER BY Status, Bird;

In [6]:
SELECT common_name AS 'Bird from Anatidae',
conservation_state AS 'Conservation Status'
FROM birds
JOIN conservation_status AS states USING(conservation_status_id)
JOIN bird_families USING(family_id)
WHERE conservation_category = 'Threatened'
AND bird_families.scientific_name = 'Anatidae'
ORDER BY states.conservation_status_id DESC, common_name ASC;

In [7]:
SELECT CONCAT(name_first, ' ', name_last) AS Birder,
common_name AS Bird, location_gps AS 'Location of Sighting'
FROM birdwatchers.humans
JOIN birdwatchers.bird_sightings USING(human_id)
JOIN rookery.birds USING(bird_id)
JOIN rookery.bird_families USING(family_id)
WHERE country_id = 'ru'
AND bird_families.scientific_name = 'Scolopacidae'
ORDER BY Birder;

Table 'birdwatchers.bird_sightings' doesn't exist
(B(B

In [8]:
SELECT common_name AS 'Bird',
conservation_state AS 'Status'
FROM birds
LEFT JOIN conservation_status USING(conservation_status_id)
WHERE common_name LIKE '%Egret%'
ORDER BY Status, Bird;

Bird,Status
Cattle Egret,NULL
Chinese Egret,NULL
Great Egret,NULL
Intermediate Egret,NULL
Little Egret,NULL
Reddish Egret,NULL
Slaty Egret,NULL
Snowy Egret,NULL

In [9]:
SELECT common_name,
conservation_state
FROM birds
LEFT JOIN conservation_status USING(conservation_status_id)
JOIN bird_families USING(family_id)
WHERE bird_families.scientific_name = 'Ardeidae';

In [10]:
INSERT INTO conservation_status (conservation_state)
VALUES('Unknown');
SELECT LAST_INSERT_ID();

LAST_INSERT_ID()
9

In [11]:
UPDATE birds
LEFT JOIN conservation_status USING(conservation_status_id)
JOIN bird_families USING(family_id)
SET birds.conservation_status_id = 9
WHERE bird_families.scientific_name = 'Ardeidae'
AND conservation_status.conservation_status_id IS NULL;

In [18]:
USE birdwatchers;

In [19]:
DELETE FROM humans, prize_winners
USING humans JOIN prize_winners
WHERE name_first = 'Elena'
AND name_last = 'Bokova'
AND email_address LIKE '%yahoo.com'
AND humans.human_id = prize_winners.human_id;

In [20]:
DELETE FROM humans, prize_winners
USING humans LEFT JOIN prize_winners
ON humans.human_id = prize_winners.human_id
WHERE name_first = 'Elena'
AND name_last = 'Bokova'
AND email_address LIKE '%yahoo.com';

In [21]:
DELETE FROM prize_winners
USING humans RIGHT JOIN prize_winners
ON humans.human_id = prize_winners.human_id
WHERE humans.human_id IS NULL;

In [22]:
show tables;

Tables_in_birdwatchers
humans
prize_winners
survey_answers
survey_questions
surveys

In [24]:
use rookery;

In [25]:
SELECT scientific_name AS Family
FROM bird_families
WHERE order_id =
(SELECT order_id
FROM bird_orders
WHERE scientific_name = 'Galliformes');

Family
Megapodiidae (Megapodes)
"Cracidae (Guans, Chachalacas, and Curassows)"
Numididae (Guineafowl)
Odontophoridae (New World Quail)
"Phasianidae (Pheasants, Grouse, and Allies)"

In [28]:
USE birdwatchers;

In [29]:
UPDATE humans
SET membership_type = 'premium',
membership_expiration = DATE_ADD(IFNULL(membership_expiration,
CURDATE()), INTERVAL 1 YEAR)
WHERE human_id =
(SELECT human_id
FROM
(SELECT human_id, COUNT(*) AS sightings, join_date
FROM birdwatchers.bird_sightings
JOIN birdwatchers.humans USING(human_id)
JOIN rookery.birds USING(bird_id)
JOIN rookery.bird_families USING(family_id)
WHERE country_id = 'ru'
AND bird_families.scientific_name = 'Scolopacidae'
GROUP BY human_id) AS derived_1
WHERE sightings > 5
ORDER BY join_date ASC
LIMIT 1);

Table 'birdwatchers.bird_sightings' doesn't exist
(B(B